// Fonts
$regular-font: "Poppins-Regular", "Arial", "Roboto", sans-serif;
$semiBold-font: "Poppins-SemiBold", "Arial", "Roboto", sans-serif;
$medium-font: "Poppins-Medium", "Arial", "Roboto", sans-serif;
$bold-font: "Poppins-Bold", "Arial", "Roboto", sans-serif;

// Colors
$primary-text: #252525;
$secondary-text: #676767; // #081420
$accent-text: #6c5fbc;
$white-text: #ffffff;
$hash-text: #8d8d8d;
$header-text: #606060;
$footer-text: #999999;
$dish-name-text: #daa31a;
$error-text: #f1534e;
$primary-background: #f9f9f9;
$secondary-background: #eaeaea;
$accent-background: #201f1f;
$card-background: #fff;
$accent-button: #6c5fbc;
$ghost-icon-button: #cecece;
$active-icon-button: #605e5e;
$border: #6c5fbc;
$placeholder: #b6b6b6;
